<br>
<h1>QUIZZES</h1>



<div class = "bulk">
	<a href="/interval"><button class="indexButton"><b>INTERVAL</b>
		<div class="quizdes">IDENTIFY MELODIC INTERVALS</div>
	</button></a>
	
	<a href="/chord"><button class="indexButton"><b>CHORD</b>
		<div class="quizdes">IDENTIFY DIFFERENT CHORD TYPES</div>
	</button></a>
	
	<a href="/scale"><button class="indexButton"><b>SCALE</b>
		<div class="quizdes">IDENTIFY DIFFERENT SCALES/MODES</div>
	</button></a>

	<p> 
	Take some quizzes
		
		
	</p>

	<br>

	<h2>High Scores</h2>


<br>




<% i = 1 %>





<div class = "scores">
	<h3>Top 10 Interval Quiz Scores</h3>
	
	<ol type="1">
		<% while i < 11 %>
			<li>
			
			<% if @board_nodes.find(i).name == "---" %>
				--------
			<% else %>
				 <%= @board_nodes.find(i).score %> - <%= @board_nodes.find(i).name %>
			<% end %>
			</li>

			<% i = i + 1 %>
		<% end %>
	</ol>


</div>

<div class = "scores">
	<h3>Top 10 Chord Quiz Scores</h3>
	
	<ol type="1">
		<% while i < 21 %>
			<li>
			
			<% if @board_nodes.find(i).name == "---" %>
				--------
			<% else %>
				 <%= @board_nodes.find(i).score %> - <%= @board_nodes.find(i).name %>
			<% end %>
			</li>

			<% i = i + 1 %>
		<% end %>
	</ol>


</div>


<div class = "scores">
	<h3>Top 10 Scale Quiz Scores</h3>
	
	<ol type="1">
		<% while i < 31 %>
			<li>
			
			<% if @board_nodes.find(i).name == "---" %>
				--------
			<% else %>
				 <%= @board_nodes.find(i).score %> - <%= @board_nodes.find(i).name %>
			<% end %>
			</li>

			<% i = i + 1 %>
		<% end %>
	</ol>


</div>












<div class = "scores">
	<h3>Interval</h3>
	
	<ul style="list-style-type:none;">
		<% @quizzes.each do |quiz| %>
			<li>
				
			<% if quiz.quiz_type == "Interval Quiz"%>
				<%= quiz.quiz_taker %> - <%= quiz.score %> - <%= quiz.quiz_type %> - rank: <%= quiz.rank %>
			<% end %>
			</li>


		<% end %>
	</ul>


</div>

<div class = "scores">
	<h3>Chord</h3>
	
	<ul style="list-style-type:none;">
		<% @quizzes.each do |quiz| %>
			<li>
				
			<% if quiz.quiz_type == "Chord Quiz"%>
				<%= quiz.quiz_taker %> - <%= quiz.score %> - <%= quiz.quiz_type %> - rank: <%= quiz.rank %>
			<% end %>
			</li>

		<% end %>
	</ul>

</div>

<div class = "scores">
	<h3>Scale</h3>
	
	<ul style="list-style-type:none;">
		<% @quizzes.each do |quiz| %>
			<li>
				
			<% if quiz.quiz_type == "Scale Quiz"%>
				<%= quiz.quiz_taker %> - <%= quiz.score %> - <%= quiz.quiz_type %> - rank: <%= quiz.rank %>
			<% end %>
			</li>

		<% end %>
	</ul>

</div>
</div>



<script>


	//prevents notes from continuing onto page
	for(var i=0; i<timeouts.length; i++)
    {
        clearTimeout(timeouts[i]);
        //console.log("WHOA MAN" + i);
    }


	

	//prevents timer from stacking intervals
	if (typeof interval !=='undefined') {
		console.log('cleared interval!');
		clearInterval(interval);
	}


</script>