<br>
<h1>All Scores</h1>


<div class = "bulk">

<br>

<%= will_paginate @quizzes %>

<div class = "guestbook">
	<h3>Guestbook</h3>

<nav aria-label="Page navigation example">
	<ul style="list-style: none;">
		
			<% @quizzes.each do |quiz| %>
			<li>
				<b><%= quiz.id %>. <%= quiz.quiz_taker %></b> - <%= quiz.score %> - <%= quiz.quiz_type %> 
				<ul>
					<i><%= quiz.created_at.to_formatted_s(:long_ordinal) %></i>
				</ul>
			</li>

		<% end %>
	</ul>
</nav>
</div>





<script>


	//prevents notes from continuing onto page
	for(var i=0; i<timeouts.length; i++)
    {
        clearTimeout(timeouts[i]);
        //console.log("WHOA MAN" + i);
    }

	//prevents timer from stacking intervals
	if (typeof interval !=='undefined') {
		console.log('cleared interval!');
		clearInterval(interval);
	}


</script>