<br>
<h1>All Scores</h1>


<div class = "bulk">

<br>








<%= will_paginate @quizzes %>

<div class = "guestbook">
	<h3>Guestbook</h3>
	<h4><%=@quizzes.length%> scores total</h4>


	<ul>
		
			<% @quizzes.each do |quiz| %>
			<li>
				<%= quiz.quiz_taker %> - <%= quiz.score %> - <%= quiz.quiz_type %> - <%= quiz.id %>
				<ul>
					<%= quiz.created_at.to_formatted_s(:long_ordinal) %>
				</ul>
			</li>

		

		<% end %>
	</ul>

</div>





<script>


	//prevents notes from continuing onto page
	for(var i=0; i<timeouts.length; i++)
    {
        clearTimeout(timeouts[i]);
        //console.log("WHOA MAN" + i);
    }


	

	//prevents timer from stacking intervals
	if (typeof interval !=='undefined') {
		console.log('cleared interval!');
		clearInterval(interval);
	}


</script>